@import "480.css";
@import "768.css";
@import "1200.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid var(--amazonHL); */
}

html,
body {
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-size: 62.5%;
  font-weight: 100;
  font-family: "Roboto", sans-serif;

  /* * Both Modes * */
  --amazonBG: rgba(37, 46, 61, 255);
  --amazonHL: #2596be;

  /* * Text - Dark Mode * */
  --dfirst: rgba(255, 255, 255, 1);
  --dsecond: rgba(255, 255, 255, 0.8);
  --dthird: rgba(255, 255, 255, 0.6);
  --dlast: rgba(255, 255, 255, 0.4);

  /* * Text - Light Mode * */
  --lfirst: rgba(0, 0, 0, 1);
  --lsecond: rgba(0, 0, 0, 0.8);
  --lthird: rgba(0, 0, 0, 0.6);
  --llast: rgba(0, 0, 0, 0.4);

  /* * Monochromatic * */
  --boxshadow01: 0 0 30px rgba(0, 0, 0, 0.1);
  --boxshadow03: 0 0 30px rgba(0, 0, 0, 0.3);
  --boxshadow05: 0 0 30px rgba(0, 0, 0, 0.5);
  --boxshadow10: 0 0 30px rgba(0, 0, 0, 1);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  color: var(--dfirst);
}

h3 {
  font-size: 3rem;
  color: var(--dfirst);
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--dfirst);
}

p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
}

li {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.btn-main {
  color: white;
  background: black;
  border: 2px solid white;
  margin: 0 0.5rem;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  transition: all ease 0.3s;
  text-decoration: none;
  font-size: 2rem;
}

.btn-main:hover {
  color: black;
  background: white;
  border: 2px solid black;
}

.absolute {
  position: absolute;
}
/* * @media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
} * */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.lh24 {
  line-height: 2.4rem;
}

/* // scrollbar styling */
/* width */
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  height: 30px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--amazonHL);
}

/* ///////////////////////////////// */
/* // cart - scrollbar styling */
/* width */
#SCart::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#SCart::-webkit-scrollbar-track {
  /* background: white; */
  background: rgba(255, 255, 255, 0.3);
}

/* Handle */
#SCart::-webkit-scrollbar-thumb {
  /* background: rgba(255, 255, 255, 0.3); */
  background: black;

  /* border-radius: 4px; */
  height: 30px;
}

/* Handle on hover */
#SCart::-webkit-scrollbar-thumb:hover {
  background: var(--amazonHL);
}

/* ///////////////////////////////// */
/* // about - scrollbar styling */
#SAbout::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#SAbout::-webkit-scrollbar-track {
  background: transparent;
  margin: 4rem;
}

/* Handle */
#SAbout::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  height: 30px;
}

/* Handle on hover */
#SAbout::-webkit-scrollbar-thumb:hover {
  background: var(--amazonHL);
}

.product-btngroup {
  z-index: 10;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
/* 
#btn-checkout {
 
} */

#btn-checkout {
  color: white;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  transition: all ease 0.3s;
  text-decoration: none;
  font-size: 2rem;

  --borderWidth: 1px;
  position: relative;
  border-radius: calc(8 * var(--borderWidth));
  background: linear-gradient(
    45deg,
    #000d09,
    #000000,
    #100000,
    #1c0306,
    #02051c,
    #1c0902,
    #031208
  );
  background-size: 200% 300%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 88% 0%;
    }
    50% {
      background-position: 13% 100%;
    }
    100% {
      background-position: 88% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 88% 0%;
    }
    50% {
      background-position: 13% 100%;
    }
    100% {
      background-position: 88% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 88% 0%;
    }
    50% {
      background-position: 13% 100%;
    }
    100% {
      background-position: 88% 0%;
    }
  }
}

#btn-checkout:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  /* opacity: 0.5; */

  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(8 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#btn-checkout:hover:after {
  filter: brightness(1.5);
}
/* ///////////////////////////////// */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
